* {
    box-sizing: border-box;
}

body {
    background-color: rgb(226, 212, 174);
    text-align: center;
    font-family: Comic sans MS;
}

.top-container {
    background-color: rgb(233, 219, 180);
    width: 25.1rem;
    margin: auto;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

table {
    background-color: #e8dab3;
    width: 25.1rem;
    height: 30rem;
    margin: auto;
    padding: 0.2rem;
    table-layout: fixed;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.shown {
    background-color: #e8dab3;
}

td {
    width: 30px;
    height: 40px;
    background-color: hsl(17, 64%, 57%);
    font-size: 1.3rem;
    font-weight: bold;
    box-shadow: rgba(145, 57, 10, 0.242) 0px 0px 30px 0px;
    border-radius: 7px;
    cursor: pointer;
}

td:hover {
    border: 2px solid black;
}

.timer {
    display: inline-block;
    margin: auto;
    font-size: 1.4rem;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0px 0px 34px 20px rgba(212, 201, 160, 1) inset;
}

.flags {
    display: inline-block;
    margin: auto;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0px 0px 34px 20px rgba(212, 201, 160, 1) inset;
}

.smiley {
    display: inline-block;
    margin: auto;
    font-size: 2.5rem;
    background-color: transparent;
    box-shadow: 0px 0px 34px 20px rgba(212, 201, 160, 1) inset;
    border-radius: 15px;
    border: 3px solid #d8744c;
    padding: 0.5rem;
    cursor: pointer;
    opacity: 0.8;
}

.smiley:hover {
    opacity: 1;
}

.bottom-container {
    background-color: #e8dab3;
    width: 25.1rem;
    height: 8rem;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.difficulty {
    margin: auto;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0px 0px 34px 20px rgba(212, 201, 160, 1) inset;
    cursor: pointer;
    opacity: 0.6;
}

.difficulty:hover {
    opacity: 1;
}

.lives {
    background-color: #e8dab3;
    width: 25.1rem;
    height: 4rem;
    margin: auto;
    font-size: 1.7rem;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

footer {
    padding: 2rem;
}

.hints {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #e8dab3;
    width: 25.1rem;
    height: 4rem;
    margin: auto;
    font-size: 2rem;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.hint1 {
    opacity: 0.4;
    display: inline-block;
}

.hint2 {
    opacity: 0.4;
    display: inline-block;
}

.hint3 {
    opacity: 0.4;
    display: inline-block;
}

.hint1:hover {
    cursor: pointer;
    opacity: 1;
}

.hint2:hover {
    cursor: pointer;
    opacity: 1;
}

.hint3:hover {
    cursor: pointer;
    opacity: 1;
}

h2 {
    visibility: hidden;
}

.safe-container {
    background-color: rgb(233, 219, 180);
    width: 25.1rem;
    margin: auto;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.safe-click {
    background-color: #4cc9f0;
    margin: auto;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.6rem;
    border-radius: 15px;
    cursor: pointer;
    opacity: 0.6;
}

.safe-click:hover {
    opacity: 1;
}

.safe {
    border: 3px solid #4cc9f0;
}

.help {
    display: inline-block;
    margin: auto;
    font-size: 1.3rem;
    padding: 0.6rem;
    border-radius: 15px;
    box-shadow: 0px 0px 34px 20px rgba(212, 201, 160, 1) inset;
    cursor: pointer;
    opacity: 0.6;
}

.help:hover {
    opacity: 1;
}

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal {
    padding: 15px;
    background-color: #e8dab3;
    width: 50%;
    height: 40%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    text-align: left;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.options {
    position: absolute;
    left: 0;
    top: 125px;
}